body {
    background-color: #000000;
}

/*navigation*/
nav {
    position: fixed;
    top: -10%;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: #000000;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: .9;
    transition: .5s;
}

.show {
    animation-name: show;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #000000;
    width: 12%;
    height: 85%;
    border-radius: 50px;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.backRight {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #FFFFFF;
    width: 12%;
    height: 85%;
    border-radius: 50px;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: .5s;
}
.d-none {
    display: none;
}

.social-img {
    width: 50%;
    height: auto;
}

/*AR block*/
.left {
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    transition: .5s;
    z-index: 3;
}

.model {
    width: 100%;
    height: 100vh;
    padding-bottom: 10%;
    background-color: #FFFFFF;
}

/*middle block*/
.mid {
    transition: .5s;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.first, .second {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first {
    justify-content: space-between;
}

.to-wow {
    margin: 0;
    padding: 0;
    font-size: 60px;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: auto;
    height: 40%;
    animation-name: logo;
    animation-duration: .9s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes logo {
    to {
        transform: scale(1.4, 1.4);
    }
}

.second {
    background-color: #000000;
    overflow-x: hidden;
}

.to {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meta, .to, .ar, .vr {
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 100px;
    letter-spacing: 15px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    width: 100%;
}

.down-arrow {
    width: 8%;
    animation-name: down-arrow;
    animation-duration: .9s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.right-vr {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 2;
    transition: 400ms;
}

.left-ar {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 3;
    transition: 400ms;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.ar-vr {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.arrows-btn {
    width: 30%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.left-arrow {
    width: 80%;
    position: absolute;
    top: 40%;
    left: 0;
    transform: rotateZ(90deg);
    animation-name: left-arrow;
    animation-duration: .9s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.right-arrow {
    position: absolute;
    width: 80%;
    top: 40%;
    right: 0;
    transform: rotateZ(-90deg);
    animation-name: right-arrow;
    animation-duration: .9s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.ar-vr div {
    display: flex;
    position: relative;
}

/*VR block*/
.right {
    position: absolute;
    top: 0;
    left: 150%;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    transition: .5s;
    z-index: 3;
}

@keyframes down-arrow {
    to {
        transform: translateY(60%);
    }
}
@keyframes right-arrow {
    to {
        right: -40%;
    }
}
@keyframes left-arrow {
    to {
        left: -40%;
    }
}


@media screen and (max-width: 768px) {
    .meta, .to, .ar, .vr {
        font-size: 70px;
        letter-spacing: 15px;
    }
    .to-wow {
        font-size: 50px;
    }
    .down-arrow {
        width: 12%;
    }
    .left-arrow, .right-arrow {
        width: 70%;
    }
    .model-container {
        flex-direction: column;
    }
}
@media screen and (max-width: 480px) {
    .meta, .to, .ar, .vr {
        font-size: 50px;
        letter-spacing: 10px;
    }
    .to-wow {
        font-size: 40px;
    }
    .down-arrow {
        width: 14%;
    }
    .left-arrow, .right-arrow {
        width: 70%;
    }
}
@media screen and (max-width: 360px) {
    .meta, .to, .ar, .vr {
        font-size: 40px;
        letter-spacing: 10px;
    }
    .to-wow {
        font-size: 30px;
    }
    .down-arrow {
        width: 16%;
    }
    .left-arrow, .right-arrow {
        width: 70%;
    }
}